- var highComics = highComicsWup.split('\n');
- var lowComics = lowComicsWup.split('\n');
- var characters = charactersWup.split('\n');

head
  title Water Under The Bridge
  link(rel='stylesheet', href='/whew.css')
  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
  script(src='/app.js')

body
  div
    p.heading This might be your hardest mission yet.

    div.section Comics (High Fidelity)
      div
        each val in highComics
          div(class='comicLink high', source=val)= val

    p &nbsp;

    div.section Comics (lol artifacts)
      div
        each val in lowComics
          div(class='comicLink low', source=val)= val

    p &nbsp;

    div.section It's The People Like You....
      div
        each val in characters
          div(class='comicLink character', source=val)= val